body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #330099;
  line-height: 150%;
}

.title {
  font-size: 40px;
  color: #3333ff;
  line-height: 120%;
  text-transform: uppercase;
}
.subtitle {
  font-size: 30px;
  color: #12ac11;
  line-height: 1.2;
  text-decoration: underline;
}

.list {
  font-size: 12px;
  color: #ff6600;
  font-style: oblique;
  list-style-type: square;
}
form {
  
}
